.wrap {
    width:50px;
    margin-bottom:10px;
    position:relative;
}
.wrap1 {
    /*width:50px;*/
    margin-bottom:10px;
    position:relative;
}
.notice {
    width:20px;
    height:20px;
    line-height:20px;/*行高*/
    font-size:10px;
    color:#fff;
    text-align:center;
    background-color:#f00;
    border-radius:50%;
    position:absolute;/*绝对定位*/
    right:10px;
    /*top:10px;*/
}